*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;


}

fieldset{

    border: 1px solid #ccc;
    background-color: #fff;

}

.mainheading{

    text-align: center;
}

input[type="submit"]{

    background-color: #4daea1;
    padding: 12px 20px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;


}

input[type="submit"]:hover{

    background-color: rgb(170, 232, 235);
}
